.container {
    height: calc(100% - 48px);
    margin-top: 48px;
}

.content {
    background-color: #fff;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    height: calc(100vh - 98px);
    border-right: 1px solid #E7EBF0;
    border-left: 1px solid #E7EBF0;
}
