.container {
    height: 100%;
    width: 274px;
    min-width: 274px;
    padding: 24px;
    padding-bottom: 0;
    overflow: hidden;
    border-right: 1px solid #E7EBF0;
}

.searchInput {
    padding-bottom: 16px;
    border-bottom: 1px solid #E7EBF0;
}

.user {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.user:hover {
    background-color: #E7EBF0;
}

.list {
    position: relative;
    max-height: 100%;
    overflow: auto;
    height: calc(100% - 55px);
}