body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow-y: visible;
  height: 100%;
  color: #333f4d;
  font-display: optional;
  background-color: #f8f8f8;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Nunito', sans-serif;
}
a {
  color: #2370a3;
  text-decoration: none;
}
hr {
  border-top: 1px solid #E7EBF0;
  border-bottom: 0;
  margin: 24px 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}